# Dependencies
node_modules/

# Build output
dist/
build/

# Local env files
.env
.env.local
.env.*.local

# Logs
*.log
firebase-debug.log

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Vercel
.vercel

# Firebase
.firebase/
deploy-response.json

# Misc
Desktop.ini
package-lock 2.json
